{{define "footer"}}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <a href="https://github.com/DavidMovas">Github</a>
            </div>
        </div>
    </div>
{{end}}